button.button-primary {
    background-color: #000;
    border-color: #000;
    border-radius: 25px;
}

button.button-primary:hover {
    background-color: #000;
    border-color: #000;
}

button.button-primary:active, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
    background-color: #000;
    border-color: #000;
}

button.button-primary:focus, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
    background-color: #000;
    border-color: #000;
}

button a{
    text-decoration: none;
}


/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.section {
    text-align: center;
}

.section-heading,
.section-description {
    margin-bottom: 1.2rem;
}

.intro {
    min-height: 500px;
    color: #000;
}


/*Profile*/

#profile {
    border-radius: 1000px;
    border-color: #000;
    border-width: 5px;
    border-style: solid;
    width: 20%;
    height: 20%;
}
