@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
* {
    margin: 0;
}

*::selection {
    color: #111;
    text-shadow: 1px 1px #FFD700;
    text-decoration: none;
}


body {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.container {
    max-width: 800px;
    margin: auto;
}

.welcome {
    text-align: center;
    margin: 0;
}

.welcome h1 {
    color: #03A9F4;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-transform: bold;
    font-size: 100px;
    line-height: 30px;
    /*text-shadow: 1px 1px 1.5px #111111;*/
}

#first {
    margin-top: 80px;
}

#second {
    color: #EC407A;
}
#third {
    color: #8BC34A;
}

.welcome h2 {
    color: #212121;
    text-transform: bold;
    /*text-shadow: 1px 1px 1.5px #111111;*/
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
}

.hello {
    max-width: 1000px;
    margin: auto;
}

.welcome #icon {
    opacity: .5;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

.welcome #icon:hover {
    opacity: 1;
}

.welcome li {
    margin-top: 25px;
}

.nav ul {
    text-align: center;
    clear: left;
    padding: 0;
}

.nav li {
    display: inline;
    color: #000;
    /*text-shadow: 1px 1px 1.5px #111111;*/
    padding-left: 10px;
    padding-right: 10px;
}

.nav li:hover {
    text-decoration: underline;
}

.nav a {
    color: #000;
    text-decoration: none;
    font-weight: 300;
}

.nav a:visited {
    text-decoration: none;
}

.main-idea {
    padding-bottom: 60px;
    margin: auto;
}

.main-idea p {
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    margin-top: 30px;
    font-size: 20px;
    color: #212121;
    text-align: center;
    font-weight: 400;
    max-width: 700px;
}

.main-idea h2 {
    color: #212121;
}

.links {
    text-align: center;
}

#inu{
    width: 92.75px;
    height 150px;
}

.button {
    margin: 0 auto;
    height: 45px;
    width: 120px;
    /*border: 2px solid rgba(255, 255, 255, 1);*/
    margin-top: 20px;
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
    display: inline-block;
}

.button i {
    align: center;
    margin-top: 12.5px;
    color: #212121;
}

.button a {
    text-align: center;
}

.button:hover {
    background-color: #212121;
    /*border: 2px solid rgba(255, 255, 255, 1);*/
}

.button:hover i {
    -webkit-transition: color 300ms linear;
    -moz-transition: color 300ms linear;
    -o-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;
    color: #fff;
    opacity: 1;
}

.other-links,
a {
    padding: 8px;
    color: #111;
    text-decoration: none;
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: auto;
    height: 60px;
}

footer p {
    color: #212121;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
    text-align: center;
}

.fa-heart {
    color: #111;
}